extends layout 

block content 
    table 
        tr 
            th
                img(src=albumArt)

        tr 
            th(class='table-text') #{trackName}
            th(class='table-logo')
                a(href= `${trackLink}`)
                    //- img(class='logo' src='https://i.imgur.com/jTDGgrq.png')
                    img(class='logo' src='/public/images/spotify.png')
                a(href=`https://last.fm/music/${artistName}/_/${lastfmTrackName}`)
                    img(class='logo' src='/public/images/lastfm.png')    
        tr 
            th(class='table-text') #{artistName}
            th(class='table-logo')
                a(href=`${artistLink}`)
                    img(class='logo' src='/public/images/spotify.png')
                a(href=`https://last.fm/music/${artistName}`)
                    img(class='logo' src='/public/images/lastfm.png')
    each val in lyrics
        p= val
    
